.fui-RadioGroupItem {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  flex-shrink: 0;
  height: var(--line-height, var(--radio-group-item-size));
  gap: var(--gap);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
  &:where(&:has(.fui-RadioGroupButton[data-disabled])) {
    color: var(--gray-a8);
    cursor: var(--cursor-disabled);
  }
}

.fui-RadioGroupButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: var(--radio-group-item-size);
  width: var(--radio-group-item-size);
  cursor: var(--cursor-radio);
  border-radius: 100%;

  &:where(:focus-visible) {
    outline: 2px solid var(--color-focus-root);
    outline-offset: 2px;
  }
}

.fui-RadioGroupIndicator {
  background-color: currentColor;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  /* Scale via transform to achieve perfect sub-pixel positioning */
  transform: scale(0.4);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-RadioGroupRoot {
  display: grid;
  width: 100%;

  &:where(.fui-r-size-1) {
    gap: 4px;
    --gap: var(--space-2);
    --font-size: var(--font-size-2);
    --line-height: var(--line-height-2);
    --letter-spacing: var(--letter-spacing-2);
    --radio-group-item-size: var(--space-4);
  }
  &:where(.fui-r-size-2) {
    gap: 6px;
    --gap: var(--space-2);
    --font-size: var(--font-size-3);
    --line-height: var(--line-height-3);
    --letter-spacing: var(--letter-spacing-3);
    --radio-group-item-size: calc(var(--space-4) * 1.25);
  }
  &:where(.fui-r-size-3) {
    gap: 8px;
    --gap: var(--space-3);
    --font-size: var(--font-size-4);
    --line-height: var(--line-height-4);
    --letter-spacing: var(--letter-spacing-4);
    --radio-group-item-size: var(--space-5);
  }

  :where(.fui-RadioGroupButton[data-unchecked]) {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a7);
  }
  :where(.fui-RadioGroupButton[data-checked]) {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);
  }
  &:where(.fui-high-contrast) :where(.fui-RadioGroupButton[data-checked]) {
    background-color: var(--accent-12);
    color: var(--accent-1);
  }
  & :where(.fui-RadioGroupButton[data-disabled]) {
    box-shadow: inset 0 0 0 1px var(--gray-a6);
    background-color: var(--gray-a3);
    cursor: var(--cursor-disabled);
    color: var(--gray-a8);
  }
}
