.rt-AccordionItem:focus-within {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 2px var(--color-focus-root) inset;
  border-radius: var(--radius-4);
}
.rt-AccordionTrigger {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--space-2);
  background: var(--gray-a3);
  border-radius: var(--radius-4);
  padding: var(--space-2) var(--space-4);
  box-shadow: 0px 0px 0px 1px var(--gray-a5) inset;

  font-size: var(--font-size-1);
  color: var(--gray-a11);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.rt-AccordionTriggerIcon {
  transition: 300ms transform ease-out;
  transform-origin: center;
  transform: rotate(180deg);
}
.rt-AccordionTrigger[data-state='open'] .rt-AccordionTriggerIcon {
  transform: rotate(0deg);
}
.rt-AccordionContent {
  overflow: hidden;
}
.rt-AccordionContent[data-state='open'] {
  animation: rt-accordion-slide-down 300ms ease-out;
}
.rt-AccordionContent[data-state='closed'] {
  animation: rt-accordion-slide-up 300ms ease-out;
}

@keyframes rt-accordion-slide-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes rt-accordion-slide-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.rt-AccordionContentInner {
  padding: var(--space-4) var(--space-5);
}
