.fui-BreadcrumbsRoot {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}
.fui-BreadcrumbsItem:not(:hover) {
  color: var(--accent-10);
}

.fui-BreadcrumbsItem:last-child,
.fui-BreadcrumbsRoot .fui-BreadcrumbsLastItem {
  color: var(--accent-12);
}

.fui-BreadcrumbsRoot {
  user-select: none;
}

.fui-BreadcrumbsSeparator {
  color: var(--accent-7);
}
