.rt-BreadcrumbsRoot {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}
.rt-BreadcrumbsItem:not(:hover) {
  color: var(--accent-10);
}

.rt-BreadcrumbsItem:last-child,
.rt-BreadcrumbsRoot .rt-BreadcrumbsLastItem {
  color: var(--accent-12);
}

.rt-BreadcrumbsRoot {
  user-select: none;
}

.rt-BreadcrumbsSeparator {
  color: var(--accent-7);
}
