@import '../base-segmented-control-list/base-segmented-control-list.css';

.fui-SegmentedControlContent {
  position: relative;
  outline: 0;
}

.fui-SegmentedControlContent:where(:focus-visible) {
  outline: 2px solid var(--color-focus-root);
}
