.fui-DrawerContent {
  z-index: 1;
  position: fixed;
  top: 8px;
  right: 8px;
  bottom: 8px;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 380px;
  box-sizing: border-box;
  background-color: var(--color-panel-solid);

  border-radius: 12px;
  box-shadow: 0px 0px 0px 1px var(--gray-a5);
  --drawer-content-padding: 16px;
}

.fui-DrawerHeader {
  flex-shrink: 0;
  --inset-padding: var(--drawer-content-padding);
  padding: var(--inset-padding);
  border-bottom: 1px solid var(--color-stroke);
}
.fui-BodyScrollArea {
  flex-shrink: 0;
  flex: 1;
  overflow-y: auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.fui-DrawerBody {
  --inset-padding: var(--drawer-content-padding);
  padding: var(--inset-padding);
}

.fui-DrawerStickyFooter {
  flex-shrink: 0;
  --inset-padding: var(--drawer-content-padding);
  padding: var(--inset-padding);
  border-top: 1px solid var(--color-stroke);
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes fui-drawer-content-show {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes fui-drawer-content-hide {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }

  .fui-DrawerContent {
    &:where([data-state='open']) {
      animation: fui-drawer-content-show 400ms cubic-bezier(0.32, 0.72, 0, 1);
    }

    &:where([data-state='closed']) {
      animation: fui-drawer-content-hide 400ms cubic-bezier(0.32, 0.72, 0, 1);
    }
  }
}
