/* stylelint-disable selector-max-type */
/* Disable selector-max-type rule to target individual element types. */
/* Make sure these tags are wrapped in `:where()` for 0 specificity. */

.frosted-ui:where([data-is-root-theme='true']) {
  /* create new stacking context on the root `Theme` so layered components work out of the box */
  position: relative;
  z-index: 0;
}

.fui-reset:where(a) {
  cursor: var(--cursor-link);
  text-decoration: none;
  color: inherit;
  outline: none;
}

.fui-reset:where(button) {
  appearance: none;
  cursor: var(--cursor-button);
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  outline: none;
  color: inherit;
  padding: 0;
  margin: 0;
  text-align: initial;
  -webkit-tap-highlight-color: transparent;
}

.fui-reset:where(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.fui-reset:where(ol, ul) {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fui-reset:where(p) {
  margin: 0;
}

.fui-reset:where(pre) {
  font-family: inherit;
  margin: 0;
}

/* Global reset based on https://tailwindcss.com/docs/preflight */

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}
