.fui-SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  flex-shrink: 0;
  user-select: none;
  vertical-align: top;
  line-height: var(--height);

  &:where(:focus-visible) {
    outline: 2px solid var(--color-focus-root);
    outline-offset: -1px;
  }
}

.fui-SelectTriggerInner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fui-SelectIcon {
  flex-shrink: 0;

  :where(.fui-SelectTrigger:not(.fui-variant-ghost)) & {
    opacity: 0.9;
  }
}

.fui-SelectContent {
  --scrollarea-scrollbar-vertical-margin-top: var(--select-content-padding);
  --scrollarea-scrollbar-vertical-margin-bottom: var(--select-content-padding);
  --scrollarea-scrollbar-horizontal-margin-left: var(--select-content-padding);
  --scrollarea-scrollbar-horizontal-margin-right: var(--select-content-padding);

  overflow: hidden;
  background-color: var(--color-panel-solid);

  &:where([data-side]) {
    min-width: var(--radix-select-trigger-width);
    max-height: var(--radix-select-content-available-height);
    transform-origin: var(--radix-select-content-transform-origin);
  }

  & :where(.fui-SelectItem[data-highlighted]) {
    background-color: var(--gray-a4);
  }
}

.fui-SelectViewport {
  box-sizing: border-box;
  padding: var(--select-content-padding);

  :where(.fui-SelectContent:has(.fui-ScrollAreaScrollbar[data-orientation='vertical'])) & {
    padding-right: var(--space-3);
  }
}

.fui-SelectItem {
  display: flex;
  align-items: center;
  height: var(--select-item-height);
  padding-left: var(--select-item-indicator-width);
  padding-right: var(--select-item-indicator-width);
  position: relative;
  box-sizing: border-box;
  outline: none;
  cursor: var(--cursor-menu-item);
  scroll-margin: var(--select-content-padding) 0;

  /* Fix sticky text highlighting after selection in Firefox */
  user-select: none;
}

.fui-SelectItemIndicator {
  position: absolute;
  left: 0;
  width: var(--select-item-indicator-width);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fui-SelectSeparator {
  height: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: calc(-1 * var(--select-content-padding) + 1px);
  margin-right: calc(-1 * var(--select-content-padding) + 1px);
}

.fui-SelectLabel {
  display: flex;
  align-items: center;
  height: var(--select-item-height);
  padding-left: var(--select-item-indicator-width);
  padding-right: var(--select-item-indicator-width);
  color: var(--gray-a10);
  user-select: none;
  cursor: default;
  font-weight: var(--font-weight-semi-bold);

  :where(.fui-SelectItem) + & {
    margin-top: var(--space-2);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * TRIGGER SIZES                                                                                   *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-SelectTrigger {
  color: var(--gray-12);
  height: var(--select-trigger-height);
}

.fui-SelectTrigger {
  &:where(.fui-r-size-1) {
    --select-trigger-height: var(--space-5);
    gap: var(--space-1);
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    border-radius: 6px;

    padding-left: var(--space-2);
    padding-right: var(--space-2);

    & :where(.fui-SelectIcon) {
      width: 8px;
      height: 8px;
    }
  }
  &:where(.fui-r-size-2) {
    --select-trigger-height: var(--space-6);
    gap: calc(var(--space-1) * 1.5);
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-spacing-2);
    border-radius: 8px;

    padding-left: var(--space-3);
    padding-right: var(--space-3);

    & :where(.fui-SelectIcon) {
      width: 10px;
      height: 10px;
      margin-bottom: -1px;
    }
  }
  &:where(.fui-r-size-3) {
    --select-trigger-height: var(--space-7);
    gap: var(--space-2);
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);
    border-radius: 10px;

    padding-left: var(--space-4);
    padding-right: var(--space-4);

    & :where(.fui-SelectIcon) {
      width: 12px;
      height: 12px;
      margin-bottom: -2px;
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * CONTENT SIZES                                                                                   *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-SelectContent {
  --select-content-padding: var(--space-1);

  &:where(.fui-r-size-1) {
    --select-item-height: var(--space-5);
    --select-item-indicator-width: calc(var(--space-5) / 1.2);
    --select-separator-margin-right: var(--space-2);
    border-radius: 8px;

    & :where(.fui-SelectLabel) {
      font-size: var(--font-size-0);
      letter-spacing: var(--letter-spacing-0);
      line-height: var(--line-height-0);
    }
    & :where(.fui-SelectItem) {
      font-size: var(--font-size-1);
      line-height: var(--line-height-1);
      letter-spacing: var(--letter-spacing-1);
      border-radius: 4px;
    }
    & :where(.fui-SelectItemIndicatorIcon) {
      width: 8px;
      height: 8px;
    }
  }
  &:where(.fui-r-size-2) {
    --select-item-height: var(--space-6);
    --select-item-indicator-width: calc(var(--space-6) / 1.2);
    --select-separator-margin-right: var(--space-2);
    border-radius: 10px;

    & :where(.fui-SelectLabel) {
      font-size: var(--font-size-1);
      letter-spacing: var(--letter-spacing-1);
      line-height: var(--line-height-1);
    }
    & :where(.fui-SelectItem) {
      font-size: var(--font-size-2);
      line-height: var(--line-height-2);
      letter-spacing: var(--letter-spacing-2);
      border-radius: 6px;
    }
    & :where(.fui-SelectItemIndicatorIcon) {
      width: 10px;
      height: 10px;
    }
  }
  &:where(.fui-r-size-3) {
    --select-item-height: var(--space-7);
    --select-item-indicator-width: calc(var(--space-7) / 1.2);
    --select-separator-margin-right: var(--space-2);
    border-radius: 12px;

    & :where(.fui-SelectLabel) {
      font-size: var(--font-size-2);
      letter-spacing: var(--letter-spacing-2);
      line-height: var(--line-height-2);
    }
    & :where(.fui-SelectItem) {
      font-size: var(--font-size-3);
      line-height: var(--line-height-3);
      letter-spacing: var(--letter-spacing-3);
      border-radius: 8px;
    }
    & :where(.fui-SelectItemIndicatorIcon) {
      width: 12px;
      height: 12px;
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * TRIGGER VARIANTS                                                                                *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.fui-SelectTrigger:where(.fui-variant-surface) {
  color: var(--gray-12);
  background-color: var(--color-surface);
  box-shadow:
    inset 0 0 0 1px var(--gray-a5),
    0px 1px 2px 0px rgba(0, 0, 0, 0.05);

  @media (hover: hover) {
    &:where(:hover) {
      box-shadow:
        inset 0 0 0 1px var(--gray-a7),
        0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    }
  }
  &:where([data-state='open']) {
    box-shadow: inset 0 0 0 1px var(--gray-a7);
  }
  &:where(:disabled) {
    cursor: var(--cursor-disabled);
    color: var(--gray-a8);
    background-color: var(--gray-a2);
    box-shadow: inset 0 0 0 1px var(--gray-a6);
  }
  &:where([data-placeholder]) {
    & :where(.fui-SelectTriggerInner) {
      color: var(--gray-a10);
    }
  }
}

/* classic */

/* prettier-ignore */
:where(.frosted-ui) {
  --select-trigger-classic-box-shadow:
		inset 0 0 0 1px var(--gray-a5),
		inset 0 2px 1px var(--white-a11),
		inset 0 -2px 1px var(--gray-a4)
	;
}

/* prettier-ignore */
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.frosted-ui:not(.light, .light-theme)) {
  --select-trigger-classic-box-shadow:
    inset 0 0 0 1px var(--white-a4),
    inset 0 1px 1px var(--white-a4),
    inset 0 -1px 1px var(--black-a9)
	;
}

.fui-SelectTrigger:where(.fui-variant-classic) {
  color: var(--gray-12);
  background-image: linear-gradient(var(--gray-2), var(--gray-1));
  box-shadow: var(--select-trigger-classic-box-shadow);
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border: 2px solid transparent;
    background-clip: content-box;
    border-radius: inherit;
    pointer-events: none;
    background-image:
      linear-gradient(var(--black-a1) -20%, transparent, var(--white-a1) 130%),
      linear-gradient(var(--color-surface), transparent);
  }

  @media (hover: hover) {
    &:where(:hover) {
      box-shadow:
        inset 0 0 0 1px var(--gray-a3),
        var(--select-trigger-classic-box-shadow);

      &::before {
        background-image:
          linear-gradient(var(--black-a1) -15%, transparent, var(--white-a1) 120%),
          linear-gradient(var(--gray-2), var(--gray-1));
      }
    }
  }
  &:where([data-state='open']) {
    box-shadow:
      inset 0 0 0 1px var(--gray-a3),
      var(--select-trigger-classic-box-shadow);

    &::before {
      background-image:
        linear-gradient(var(--black-a1) -15%, transparent, var(--white-a1) 120%),
        linear-gradient(var(--gray-2), var(--gray-1));
    }
  }
  &:where(:disabled) {
    cursor: var(--cursor-disabled);
    color: var(--gray-a8);
    /* Use disabled button style for the shadow */
    box-shadow: var(--base-button-classic-disabled-box-shadow);
    &::before {
      background-image:
        linear-gradient(var(--black-a1) -20%, transparent, var(--white-a1) 130%),
        linear-gradient(var(--color-surface), transparent);
    }
  }
  &:where([data-placeholder]) {
    & :where(.fui-SelectTriggerInner) {
      color: var(--gray-a10);
    }
  }
}

/* soft / ghost */

.fui-SelectTrigger:where(.fui-variant-soft),
.fui-SelectTrigger:where(.fui-variant-ghost) {
  color: var(--accent-12);

  &:where([data-placeholder]) {
    & :where(.fui-SelectTriggerInner) {
      color: var(--accent-12);
      opacity: 0.6;
    }
  }
}

.fui-SelectTrigger:where(.fui-variant-soft) {
  background-color: var(--accent-a3);

  @media (hover: hover) {
    &:where(:hover) {
      background-color: var(--accent-a4);
    }
  }
  &:where([data-state='open']) {
    background-color: var(--accent-a4);
  }
  &:where(:focus-visible) {
    /* Use gray outline when component color is gray */
    outline-color: var(--accent-8);
  }
  &:where(:disabled) {
    cursor: var(--cursor-disabled);
    color: var(--gray-a8);
    background-color: var(--gray-a3);
  }
}

.fui-SelectTrigger:where(.fui-variant-ghost) {
  @media (hover: hover) {
    &:where(:hover) {
      background-color: var(--accent-a3);
    }
  }
  &:where([data-state='open']) {
    background-color: var(--accent-a3);
  }
  &:where(:disabled) {
    cursor: var(--cursor-disabled);
    color: var(--gray-a8);
    background-color: transparent;
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * MENU VARIANTS                                                                                   *
 *                                                                                                 *
 ***************************************************************************************************/
/* prettier-ignore */
:where(.frosted-ui) {
  --color-select-outline: transparent;
}
/* prettier-ignore */
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.frosted-ui:not(.light, .light-theme)) {
  --color-select-outline: black;
}

.fui-SelectContent {
  box-shadow: var(--shadow-5);
  outline: 0.5px solid var(--color-base-menu-outline) !important;
}

.fui-SelectItem:where([data-disabled]) {
  color: var(--gray-a8);
}

.fui-SelectSeparator {
  background-color: var(--gray-a6);
}
