@import '../base-button/base-button.css';

.fui-Button {
  &:where(:not(.fui-variant-ghost)) {
    /* stylelint-disable-next-line selector-max-type */
    & :where(svg) {
      opacity: 0.9;
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-Button {
  &:where(.fui-r-size-1) {
    gap: 4px;
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);

    padding-left: 8px;
    padding-right: 8px;
  }
  &:where(.fui-r-size-2) {
    gap: 8px;
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-spacing-2);

    padding-left: 12px;
    padding-right: 12px;
  }
  &:where(.fui-r-size-3) {
    gap: 10px;
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);

    padding-left: 16px;
    padding-right: 16px;
  }
  &:where(.fui-r-size-4) {
    gap: 12px;
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
    letter-spacing: var(--letter-spacing-4);

    padding-left: 24px;
    padding-right: 24px;
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-Button:where(:not(.fui-variant-ghost)) {
  font-weight: var(--font-weight-medium);
}
