.fui-CalloutRoot {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: var(--accent-a11);
  background-color: var(--accent-a3);
  row-gap: var(--space-2);
  column-gap: var(--space-3);
  padding: var(--space-4);
  border-radius: var(--radius-5);
}

.fui-CalloutIcon {
  display: flex;
  align-items: center;
  grid-column-start: -2;
  height: var(--line-height);
}

/* Anything that’s not an icon goes to the right of the icon */
.fui-CalloutRoot > :where(:not(.fui-CalloutIcon)) {
  grid-column-start: -1;
}
