.fui-CalloutRoot {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: var(--accent-a11);
  background-color: var(--accent-a3);
  row-gap: 2px;
  column-gap: 8px;
  padding: 12px;
  border-radius: 12px;
}

.fui-CalloutIcon {
  display: flex;
  align-items: center;
  grid-column-start: -2;
  height: var(--line-height);
}

/* Anything that’s not an icon goes to the right of the icon */
.fui-CalloutRoot > :where(:not(.fui-CalloutIcon)) {
  grid-column-start: -1;
}

.fui-CalloutActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
}

.fui-CalloutAction {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  user-select: none;
  vertical-align: top;
  cursor: pointer;

  height: var(--space-6);
  gap: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;

  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);

  color: var(--gray-12);

  &:where([aria-busy]) {
    position: relative;
  }
}

/* primary - matches `soft` button styling with an added border */
.fui-CalloutAction:where(.fui-variant-primary) {
  border: 1px solid var(--accent-a12);

  &:where(:focus-visible) {
    outline: 2px solid var(--accent-a8);
  }
  @media (hover: hover) {
    &:where(:hover) {
      background-color: var(--accent-a4);
    }
  }

  &:where([data-pressed]),
  &:where([data-state='open']) {
    background-color: var(--accent-a4);
  }
  &:where(:active:not([data-state='open'])) {
    background-color: var(--accent-a5);
  }

  &:where([data-disabled]) {
    cursor: var(--cursor-disabled);
    color: var(--accent-a8);
    border: 1px solid var(--accent-a6);
    background-color: transparent;
  }
}

/* secondary - matches `ghost` button styling */
.fui-CalloutAction:where(.fui-variant-secondary) {
  @media (hover: hover) {
    &:where(:hover) {
      background-color: var(--accent-a3);
    }
  }
  &:where(:focus-visible) {
    outline: 2px solid var(--accent-a8);
  }

  &:where([data-pressed]),
  &:where([data-state='open']) {
    background-color: var(--accent-a3);
  }
  &:where(:active:not([data-state='open'])) {
    background-color: var(--accent-a4);
  }

  &:where([data-disabled]) {
    cursor: var(--cursor-disabled);
    color: var(--accent-a8);
    background-color: transparent;
  }
}
/* watcher-test-marker */

.fui-CalloutTitle {
  color: var(--gray-12);
}

.fui-CalloutDescription {
  color: var(--accent-a12);
}
