.fui-CalloutRoot {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: var(--accent-a11);
  background-color: var(--accent-a3);
  row-gap: 4px;
  column-gap: 8px;
  padding: 12px;
  border-radius: 12px;
}

.fui-CalloutIcon {
  display: flex;
  align-items: center;
  grid-column-start: -2;
  height: var(--line-height);
}

/* Anything that’s not an icon goes to the right of the icon */
.fui-CalloutRoot > :where(:not(.fui-CalloutIcon)) {
  grid-column-start: -1;
}
