@breakpoints {
  .fui-r-gap-0 {
    gap: 0;
  }

  .fui-r-gap-1 {
    gap: var(--space-1);
  }

  .fui-r-gap-2 {
    gap: var(--space-2);
  }

  .fui-r-gap-3 {
    gap: var(--space-3);
  }

  .fui-r-gap-4 {
    gap: var(--space-4);
  }

  .fui-r-gap-5 {
    gap: var(--space-5);
  }

  .fui-r-gap-6 {
    gap: var(--space-6);
  }

  .fui-r-gap-7 {
    gap: var(--space-7);
  }

  .fui-r-gap-8 {
    gap: var(--space-8);
  }

  .fui-r-gap-9 {
    gap: var(--space-9);
  }

  .fui-r-cg-0 {
    column-gap: 0;
  }

  .fui-r-cg-1 {
    column-gap: var(--space-1);
  }

  .fui-r-cg-2 {
    column-gap: var(--space-2);
  }

  .fui-r-cg-3 {
    column-gap: var(--space-3);
  }

  .fui-r-cg-4 {
    column-gap: var(--space-4);
  }

  .fui-r-cg-5 {
    column-gap: var(--space-5);
  }

  .fui-r-cg-6 {
    column-gap: var(--space-6);
  }

  .fui-r-cg-7 {
    column-gap: var(--space-7);
  }

  .fui-r-cg-8 {
    column-gap: var(--space-8);
  }

  .fui-r-cg-9 {
    column-gap: var(--space-9);
  }

  .fui-r-rg-0 {
    row-gap: 0;
  }

  .fui-r-rg-1 {
    row-gap: var(--space-1);
  }

  .fui-r-rg-2 {
    row-gap: var(--space-2);
  }

  .fui-r-rg-3 {
    row-gap: var(--space-3);
  }

  .fui-r-rg-4 {
    row-gap: var(--space-4);
  }

  .fui-r-rg-5 {
    row-gap: var(--space-5);
  }

  .fui-r-rg-6 {
    row-gap: var(--space-6);
  }

  .fui-r-rg-7 {
    row-gap: var(--space-7);
  }

  .fui-r-rg-8 {
    row-gap: var(--space-8);
  }

  .fui-r-rg-9 {
    row-gap: var(--space-9);
  }
}
