@breakpoints {
  .fui-r-inset-auto {
    inset: auto;
  }

  .fui-r-top-auto {
    top: auto;
  }

  .fui-r-right-auto {
    right: auto;
  }

  .fui-r-bottom-auto {
    bottom: auto;
  }

  .fui-r-left-auto {
    left: auto;
  }

  .fui-r-inset-0 {
    inset: 0;
  }

  .fui-r-top-0 {
    top: 0;
  }

  .fui-r-right-0 {
    right: 0;
  }

  .fui-r-bottom-0 {
    bottom: 0;
  }

  .fui-r-left-0 {
    left: 0;
  }

  .fui-r-inset-50\% {
    inset: 50%;
  }

  .fui-r-top-50\% {
    top: 50%;
  }

  .fui-r-right-50\% {
    right: 50%;
  }

  .fui-r-bottom-50\% {
    bottom: 50%;
  }

  .fui-r-left-50\% {
    left: 50%;
  }

  .fui-r-inset-100\% {
    inset: 100%;
  }

  .fui-r-top-100\% {
    top: 100%;
  }

  .fui-r-right-100\% {
    right: 100%;
  }

  .fui-r-bottom-100\% {
    bottom: 100%;
  }

  .fui-r-left-100\% {
    left: 100%;
  }
}
