.fui-RadioButtonGroupRoot {
  --radio-items-base-color: var(--accent-9);

  &:where(.fui-high-contrast) {
    --radio-items-base-color: var(--accent-12);
  }
  :where(.fui-RadioButtonGroupButton) {
    position: relative;
    cursor: var(--cursor-button);
    user-select: none;
  }
  :where(.fui-RadioButtonGroupButton:focus-visible) {
    outline: 2px solid var(--accent-a6);
    outline-offset: 2px;
  }
  :where(.fui-RadioButtonGroupOverlay) {
    position: absolute;
    pointer-events: none;
  }
  :where(.fui-RadioButtonGroupButton[data-checked] .fui-RadioButtonGroupOverlay) {
    inset: calc(-1 * var(--parent-border-width));
    border-radius: var(--parent-border-radius);
    box-shadow:
      inset 0 0 0 2px var(--radio-items-base-color),
      inset 0 0 0 4px var(--color-background);
  }

  :where(.fui-RadioButtonGroupIcon) {
    visibility: hidden;
    width: 20px;
    pointer-events: none;
    height: 20px;
    border-radius: 999px;
    color: var(--accent-9-contrast);
  }
  :where(.fui-RadioButtonGroupButton[data-checked] .fui-RadioButtonGroupIcon) {
    visibility: visible;
    background: var(--accent-9);
  }

  :where(.fui-RadioButtonGroupButton.fui-Card)::after {
    outline: none;
  }
}
