@config "../tailwind.config.js";
@layer theme, base, frosted_ui, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
@import 'frosted-ui/styles.css' layer(frosted_ui);

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Inter variable setup */
.frosted-ui {
  --default-font-family: var(--inter-variable);
}
@supports (font-variation-settings: normal) {
  .frosted-ui {
    --default-font-family: var(--inter-variable), sans-serif;
  }
}
