@layer tw_base, frosted_ui, tw_components_utils;
@import 'frosted-ui/styles.css' layer(frosted_ui);

@layer tw_base {
  @tailwind base;
}

@layer tw_components_utils {
  @tailwind components;
  @tailwind utilities;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Inter variable setup */
.frosted-ui {
  --default-font-family: var(--inter-variable);
}
@supports (font-variation-settings: normal) {
  .frosted-ui {
    --default-font-family: var(--inter-variable), sans-serif;
  }
}
/* Inter variable ligatures setup https://rsms.me/inter/download/ */
/* .frosted-ui {
  font-feature-settings:
    'liga' 1,
    'calt' 1;
}
*/
