.fui-DateFieldRoot {
  position: relative;
  display: inline-block;
}
.fui-DateFieldInput {
  height: var(--height);
  font-size: var(--font-size);
  line-height: var(--font-size);
  padding: var(--padding);

  display: inline-flex;
  flex-wrap: nowrap;
  gap: 2px;

  border-radius: var(--radius);

  background-color: var(--gray-a3);
  color: var(--gray-12);
  caret-color: transparent;
  overflow: hidden;
}

.fui-DateFieldInput:where([data-invalid]) {
  background-color: var(--danger-a3);
  color: var(--danger-12);
}
.fui-DateFieldInput:where([data-focus-visible]) {
  outline: 2px solid var(--color-focus-root);
  outline-offset: 1px;
}
.fui-DateFieldInput:where([data-invalid][data-focus-visible]) {
  outline: 2px solid var(--danger-8);
  outline-offset: 1px;
}
.fui-DateFieldSegment:where(:not([data-type='literal'])) {
  box-sizing: content-box;
  border-radius: max(calc(var(--radius) / 2), 4px);
  /* 1px padding top to center text vertically */
  padding: 1px 2px 0px;
  color: var(--gray-12);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;

  font-variant-numeric: tabular-nums;
  font-family: var(--code-font-family);
  outline: none;
}

.fui-DateFieldSegment:where([data-hovered]) {
  background: var(--gray-a4);
}
.fui-DateFieldSegment:where([data-invalid][data-hovered]) {
  background: var(--danger-a4);
}
.fui-DateFieldSegment:where([data-focused]) {
  background: var(--accent-a9);
  color: var(--accent-9-contrast);
}
.fui-DateFieldSegment:where([data-invalid][data-focused]) {
  background: var(--danger-a9);
  color: var(--danger-9-contrast);
}
.fui-DateFieldSegment[data-type='literal'] {
  color: var(--gray-a10);
  display: flex;
  align-items: center;
}

.fui-DateFieldRoot {
  &:where(.fui-r-size-1) {
    --height: var(--space-5);
    --font-size: var(--font-size-1);
    --letter-spacing: var(--letter-spacing-1);
    --padding: 4px;
    --radius: 6px;
  }
  &:where(.fui-r-size-2) {
    --height: var(--space-6);
    --font-size: var(--font-size-2);
    --letter-spacing: var(--letter-spacing-2);
    --padding: 6px;
    --radius: 8px;
  }
  &:where(.fui-r-size-3) {
    --height: var(--space-7);
    --font-size: var(--font-size-3);
    --letter-spacing: var(--letter-spacing-3);
    --padding: 8px;
    --radius: 10px;
  }
}
