/* ============================================================================
 * Form
 * ============================================================================ */

.fui-FormRoot {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
