.fui-TooltipContent {
  padding: var(--space-1) var(--space-2);
  background-color: var(--gray-12);
  color: var(--gray-1);

  border-radius: var(--radius-4);
  border: 1px solid var(--gray-a6);
  outline: 0.5px solid var(--color-tooltip-outline);

  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.05);

  transform-origin: var(--radix-tooltip-content-transform-origin);

  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  @media (prefers-reduced-motion: no-preference) {
    &:where([data-state='delayed-open']) {
      &:where([data-side='top']) {
        animation-name: fui-slide-up, fui-fade-in;
      }
      &:where([data-side='bottom']) {
        animation-name: fui-slide-down, fui-fade-in;
      }
      &:where([data-side='left']) {
        animation-name: fui-slide-left, fui-fade-in;
      }
      &:where([data-side='right']) {
        animation-name: fui-slide-right, fui-fade-in;
      }
    }
  }
}

/* prettier-ignore */
:where(.frosted-ui) {
  --color-tooltip-outline: transparent;
}
/* prettier-ignore */
.dark,
.dark-theme,
.dark :where(.frosted-ui:not(.light, .light-theme)),
.dark-theme :where(.frosted-ui:not(.light, .light-theme)) {
  --color-tooltip-outline: black;
}

.fui-TooltipText {
  color: var(--gray-1);
  user-select: none;
  cursor: default;
}

.fui-TooltipArrow {
  fill: var(--gray-12);
}
