.fui-TooltipContent {
  padding: var(--space-1) var(--space-2);
  background-color: var(--color-background);

  border-radius: var(--radius-4);

  box-shadow:
    0 4px 16px -8px rgba(0, 0, 0, 0.08),
    0 3px 12px -4px rgba(0, 0, 0, 0.05),
    0 2px 3px -2px rgba(0, 0, 61, 0.05);

  transform-origin: var(--radix-tooltip-content-transform-origin);

  animation-duration: 100ms;
  animation-timing-function: ease-out;

  @media (prefers-reduced-motion: no-preference) {
    &:where([data-state='delayed-open']) {
      &:where([data-side='top']) {
        animation-name: fui-slide-from-top, fui-fade-in;
      }
      &:where([data-side='bottom']) {
        animation-name: fui-slide-from-bottom, fui-fade-in;
      }
      &:where([data-side='left']) {
        animation-name: fui-slide-from-left, fui-fade-in;
      }
      &:where([data-side='right']) {
        animation-name: fui-slide-from-right, fui-fade-in;
      }
    }
  }
}

/* prettier-ignore */
:where(.frosted-ui) {
  --color-tooltip-outline: transparent;
}
/* prettier-ignore */
.dark,
.dark-theme,
.dark :where(.frosted-ui:not(.light, .light-theme)),
.dark-theme :where(.frosted-ui:not(.light, .light-theme)) {
  --color-tooltip-outline: black;
}

.fui-TooltipText {
  user-select: none;
  cursor: default;
}

.fui-TooltipArrow {
  fill: transparent;
}
