@import '../base-button/base-button.css';

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-IconButton {
  height: var(--base-button-height);
  width: var(--base-button-height);
}
