.dark,
.dark-theme {
  --orange-1: #1d1412;
  --orange-2: #291612;
  --orange-3: #3b1a14;
  --orange-4: #471d16;
  --orange-5: #532017;
  --orange-6: #652318;
  --orange-7: #862919;
  --orange-8: #ca3416;
  --orange-9: #e54d2e;
  --orange-10: #ff6243;
  --orange-11: #ff8870;
  --orange-12: #fbd3cb;
}
/* TODO: P3 palette */
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --orange-1: #1d1412;
      --orange-2: #291612;
      --orange-3: #3b1a14;
      --orange-4: #471d16;
      --orange-5: #532017;
      --orange-6: #652318;
      --orange-7: #862919;
      --orange-8: #ca3416;
      --orange-9: #e54d2e;
      --orange-10: #ff6243;
      --orange-11: #ff8870;
      --orange-12: #fbd3cb;
    }
  }
}
