:root,
.light,
.light-theme {
  --orange-a1: #ff050503;
  --orange-a2: #ff240508;
  --orange-a3: #ff1f0111;
  --orange-a4: #ff24011d;
  --orange-a5: #f41e012c;
  --orange-a6: #ec230041;
  --orange-a7: #de27005d;
  --orange-a8: #d525017f;
  --orange-a9: #df2600d1;
  --orange-a10: #d22400db;
  --orange-a11: #be1f00ec;
  --orange-a12: #450900e0;
}
/* TODO: P3 palette */
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --orange-a1: #ff050503;
      --orange-a2: #ff240508;
      --orange-a3: #ff1f0111;
      --orange-a4: #ff24011d;
      --orange-a5: #f41e012c;
      --orange-a6: #ec230041;
      --orange-a7: #de27005d;
      --orange-a8: #d525017f;
      --orange-a9: #df2600d1;
      --orange-a10: #d22400db;
      --orange-a11: #be1f00ec;
      --orange-a12: #450900e0;
    }
  }
}
