.fui-CheckboxRoot {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  flex-shrink: 0;
  height: var(--line-height, var(--checkbox-size));

  &:has([data-disabled]) {
    color: var(--gray-a10);
  }
}

.fui-CheckboxButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  cursor: var(--cursor-checkbox);
  position: relative;

  &:where(:focus-visible) {
    outline: 2px solid var(--color-focus-root);
    outline-offset: 2px;
  }

  &:where([data-unchecked]) {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a7);
  }
  &:where([data-checked], [data-indeterminate]) {
    background-color: var(--accent-9);

    color: var(--accent-9-contrast);

    &:where(.fui-high-contrast) {
      background-color: var(--accent-12);
      color: var(--accent-1);
    }
  }

  &:where([data-disabled]) {
    box-shadow: inset 0 0 0 1px var(--gray-a5);
    background-color: var(--gray-a2);
    background-image: none;
    cursor: var(--cursor-disabled);
    color: var(--gray-a10);
  }

  @media (hover: hover) {
    &:where([data-unchecked]):not([data-disabled]):hover {
      box-shadow: inset 0 0 0 1px var(--gray-a8);
    }
    &:where([data-unchecked]):not([data-disabled]):active {
      box-shadow: inset 0 0 0 1px var(--gray-a9);
    }
    &:where([data-checked], [data-indeterminate]):not([data-disabled]):not(.fui-high-contrast):hover {
      background-color: var(--accent-10);
    }
    &:where([data-checked], [data-indeterminate]):not([data-disabled]):not(.fui-high-contrast):active {
      background-color: var(--accent-11);
    }
  }
}

.fui-CheckboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* Make sure that the presence of the indicator doesn’t affect alignment */
  position: absolute;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-CheckboxRoot {
  user-select: none;
  &:where(.fui-r-size-1) {
    --checkbox-size: var(--space-4);
    gap: var(--space-2);
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-spacing-2);

    & :where(.fui-CheckboxButton) {
      border-radius: var(--radius-2);
    }

    & :where(.fui-CheckboxIndicatorIcon) {
      width: var(--checkbox-size);
      height: var(--checkbox-size);
    }
  }
  &:where(.fui-r-size-2) {
    --checkbox-size: calc(var(--space-4) * 1.25);
    gap: var(--space-2);
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);

    & :where(.fui-CheckboxButton) {
      border-radius: var(--radius-3);
    }

    & :where(.fui-CheckboxIndicatorIcon) {
      width: var(--checkbox-size);
      height: var(--checkbox-size);
    }
  }
  &:where(.fui-r-size-3) {
    --checkbox-size: var(--space-5);
    gap: var(--space-3);
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
    letter-spacing: var(--letter-spacing-4);

    & :where(.fui-CheckboxButton) {
      border-radius: var(--radius-3);
    }

    & :where(.fui-CheckboxIndicatorIcon) {
      width: var(--checkbox-size);
      height: var(--checkbox-size);
    }
  }
}
