.fui-PopoverContent {
  box-shadow: var(--shadow-5);
  min-width: var(--anchor-width);
  outline: 0;
  overflow: auto;
  text-align: start;

  --inset-padding: var(--popover-content-padding);
  padding: var(--popover-content-padding);

  transform-origin: var(--transform-origin);

  &:where(.fui-variant-translucent) {
    background-color: var(--color-panel-translucent);
    -webkit-backdrop-filter: var(--backdrop-filter-panel);
    backdrop-filter: var(--backdrop-filter-panel);
  }
  &:where(.fui-variant-solid) {
    background-color: var(--color-panel-solid);
  }
  &:where(.fui-variant-translucent, .fui-variant-solid) {
    outline: 0.5px solid var(--color-popover-outline);
  }

  /* Animations */
  @media (prefers-reduced-motion: no-preference) {
    transition:
      transform 150ms ease-out,
      opacity 150ms ease-out;

    &[data-starting-style] {
      opacity: 0;
      transform: scale(0.95);
    }

    &[data-ending-style] {
      opacity: 0;
      transform: scale(0.95);
      transition-duration: 75ms;
    }
  }
}
/* prettier-ignore */
:where(.frosted-ui) {
  --color-popover-outline: transparent;
}
.dark,
.dark-theme,
.dark :where(.frosted-ui:not(.light, .light-theme)),
.dark-theme :where(.frosted-ui:not(.light, .light-theme)) {
  --color-popover-outline: black;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-PopoverContent {
  &:where(.fui-r-size-1) {
    --popover-content-padding: var(--space-3);
    border-radius: 8px;
  }
  &:where(.fui-r-size-2) {
    --popover-content-padding: var(--space-4);
    border-radius: 12px;
  }
  &:where(.fui-r-size-3) {
    --popover-content-padding: var(--space-5);
    border-radius: 16px;
  }
  &:where(.fui-r-size-4) {
    --popover-content-padding: var(--space-6);
    border-radius: 20px;
  }
}
