.fui-PopoverContent {
  box-shadow: var(--shadow-5);
  min-width: var(--radix-popover-trigger-width);
  outline: 0;
  overflow: auto;

  --inset-padding: var(--popover-content-padding);
  padding: var(--popover-content-padding);

  transform-origin: var(--radix-popover-content-transform-origin);

  &:where(.fui-variant-translucent) {
    background-color: var(--color-panel-translucent);
    -webkit-backdrop-filter: var(--backdrop-filter-panel);
    backdrop-filter: var(--backdrop-filter-panel);
    outline: 0.5px solid var(--color-popover-outline);
  }
  &:where(.fui-variant-solid) {
    background-color: var(--color-panel-solid);
  }
}
/* prettier-ignore */
:where(.frosted-ui) {
  --color-popover-outline: transparent;
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.frosted-ui:not(.light, .light-theme)) {
  --color-popover-outline: black;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-PopoverContent {
  &:where(.fui-r-size-1) {
    --popover-content-padding: var(--space-3);
    border-radius: var(--radius-4);
  }
  &:where(.fui-r-size-2) {
    --popover-content-padding: var(--space-4);
    border-radius: var(--radius-4);
  }
  &:where(.fui-r-size-3) {
    --popover-content-padding: var(--space-5);
    border-radius: var(--radius-5);
  }
  &:where(.fui-r-size-4) {
    --popover-content-padding: var(--space-6);
    border-radius: var(--radius-5);
  }
}
