.fui-BaseSegmentedControlList {
  box-sizing: border-box;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;

  background: var(--gray-a3);
  border-radius: var(--radius-4);
  scrollbar-width: none;
  padding: var(--space-1);
  &::-webkit-scrollbar {
    display: none;
  }
}

.fui-BaseSegmentedControlTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  user-select: none;
  border-radius: var(--radius-3);
  padding: 0 var(--space-2);

  flex: 1;
  color: var(--gray-a9);

  @media (hover: hover) {
    &:where(:hover) {
      color: var(--gray-a11);
    }
  }
  &:where([data-state='active'], [data-state='checked'], [data-active]) {
    color: var(--gray-a12);
  }
  &:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
  &:where(:focus-visible)::before {
    outline: 2px solid var(--color-focus-root);
    outline-offset: 2px;
  }
  &:where([data-state='active'], [data-state='checked'], [data-active])::before {
    background: var(--color-segmented-control-thumb);
    background-image: linear-gradient(var(--white-a3), var(--white-a3));
    box-shadow:
      0px 1px 1px 0px rgba(0, 0, 0, 0.05),
      0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  }
}

.fui-BaseSegmentedControlTriggerInner {
  display: flex;
  gap: var(--space-2);
  align-items: center;
  justify-content: center;
  position: relative;
}

.fui-BaseSegmentedControlList {
  height: var(--space-7);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
  font-weight: var(--font-weight-medium);
}

/* prettier-ignore */
:where(.frosted-ui) {
  --color-segmented-control-thumb: var(--color-panel-solid);
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.frosted-ui:not(.light, .light-theme)) {
  --color-segmented-control-thumb: transparent;
}
