.fui-BaseTabsList {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.fui-BaseTabsTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  user-select: none;
}

.fui-BaseTabsTriggerInner,
.fui-BaseTabsTriggerInnerHidden {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fui-BaseTabsTriggerInner {
  position: absolute;

  :where(
      .fui-BaseTabsTrigger[data-state='inactive'],
      .fui-TabsNavLink:not([data-active])
    )
    & {
    letter-spacing: var(--tabs-trigger-inactive-letter-spacing);
    word-spacing: var(--tabs-trigger-inactive-word-spacing);
  }

  :where(
      .fui-BaseTabsTrigger[data-state='active'],
      .fui-TabsNavLink[data-active]
    )
    & {
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--tabs-trigger-active-letter-spacing);
    word-spacing: var(--tabs-trigger-active-word-spacing);
  }
}

.fui-BaseTabsTriggerInnerHidden {
  visibility: hidden;
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--tabs-trigger-active-letter-spacing);
  word-spacing: var(--tabs-trigger-active-word-spacing);
}

.fui-BaseTabsContent {
  position: relative;
  outline: 0;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-BaseTabsTrigger {
  padding-left: var(--tabs-trigger-padding-x);
  padding-right: var(--tabs-trigger-padding-x);
}

.fui-BaseTabsTriggerInner,
.fui-BaseTabsTriggerInnerHidden {
  padding: var(--tabs-trigger-inner-padding-y)
    var(--tabs-trigger-inner-padding-x);
  border-radius: var(--tabs-trigger-inner-border-radius);
}

@breakpoints {
  .fui-BaseTabsList {
    &:where(.fui-r-size-1) {
      height: 36px;
      font-size: var(--font-size-1);
      line-height: var(--line-height-1);
      letter-spacing: var(--letter-spacing-1);
      --tabs-trigger-padding-x: var(--space-1);
      --tabs-trigger-inner-padding-x: calc(1.5 * var(--space-1));
      --tabs-trigger-inner-padding-y: var(--space-1);
      --tabs-trigger-inner-border-radius: var(--radius-2);
    }
    &:where(.fui-r-size-2) {
      height: var(--space-7);
      font-size: var(--font-size-2);
      line-height: var(--line-height-2);
      letter-spacing: var(--letter-spacing-2);
      --tabs-trigger-padding-x: var(--space-1);
      --tabs-trigger-inner-padding-x: calc(1.25 * var(--space-2));
      --tabs-trigger-inner-padding-y: var(--space-1);
      --tabs-trigger-inner-border-radius: var(--radius-3);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-BaseTabsList {
  box-shadow: inset 0 -1px 0 0 var(--gray-a5);
}

.fui-BaseTabsTrigger {
  color: var(--gray-a11);

  @media (hover: hover) {
    &:where(:hover) {
      color: var(--gray-12);
    }
    &:where(:hover) :where(.fui-BaseTabsTriggerInner) {
      background-color: var(--gray-a3);
    }
    &:where(:focus-visible:hover) :where(.fui-BaseTabsTriggerInner) {
      background-color: var(--accent-a3);
    }
  }
  &:where([data-state='active'], [data-active]) {
    color: var(--gray-12);
  }
  &:where(:focus-visible) :where(.fui-BaseTabsTriggerInner) {
    outline: 2px solid var(--color-focus-root);
    outline-offset: -2px;
  }
  &:where([data-state='active'], [data-active])::before {
    box-sizing: border-box;
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--accent-10);
  }
}

.fui-BaseTabsContent:where(:focus-visible) {
  outline: 2px solid var(--color-focus-root);
}
