.fui-CalloutRoot {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: var(--accent-a11);

  &:where(.fui-high-contrast) {
    color: var(--accent-12);
  }
}

.fui-CalloutIcon {
  display: flex;
  align-items: center;
  grid-column-start: -2;
  height: var(--line-height);
}

/* Anything that’s not an icon goes to the right of the icon */
.fui-CalloutRoot > :where(:not(.fui-CalloutIcon)) {
  grid-column-start: -1;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.fui-CalloutRoot {
  &:where(.fui-r-size-1) {
    row-gap: var(--space-2);
    column-gap: var(--space-2);
    padding: var(--space-3);
    border-radius: var(--radius-5);
  }
  &:where(.fui-r-size-2) {
    row-gap: var(--space-2);
    column-gap: var(--space-3);
    padding: var(--space-4);
    border-radius: var(--radius-5);
  }
  &:where(.fui-r-size-3) {
    row-gap: var(--space-3);
    column-gap: var(--space-4);
    padding: var(--space-5);
    border-radius: var(--radius-6);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* soft */

.fui-CalloutRoot:where(.fui-variant-soft) {
  background-color: var(--accent-a3);
}

/* surface */

.fui-CalloutRoot:where(.fui-variant-surface) {
  box-shadow: inset 0 0 0 1px var(--accent-a6);
  background-color: var(--accent-a2);
}

/* outline */

.fui-CalloutRoot:where(.fui-variant-outline) {
  box-shadow: inset 0 0 0 1px var(--accent-a7);
}
