.fui-LightboxOverlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	inset: 0;
	padding: 0;
	overflow: hidden; /* Prevent body scrolling */
	touch-action: none; /* Disable default touch interactions */

	--color-overlay: rgba(0, 0, 0, 1);

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--color-overlay);
		z-index: 1;
	}
}

.fui-LightboxContent {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.fui-LightboxItems {
	z-index: 2;
	display: flex;
	gap: 3rem;
	margin: 0 80px;
	position: relative;
	scroll-snap-type: x mandatory;
	overflow-x: scroll;
	overflow-y: hidden;
	overscroll-behavior-x: contain;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		display: none;
	}
}

.fui-LightboxItem {
	position: relative;
	z-index: 1;
	flex: 0 0 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	touch-action: pan-y;
	margin: 20px 0;
	scroll-snap-align: start;

	& > * {
		max-height: 100%;
		max-width: auto;
	}

	&.fui-LightboxActiveItem {
		scroll-snap-align: center;
		scroll-snap-stop: always;
	}
}

.fui-LightboxThumbs {
	display: flex;
	flex-wrap: nowrap;
	z-index: 10;
	gap: 0.75rem;
	cursor: pointer;
	position: relative;
	max-width: 25%;
	margin: 0 auto;
	padding: 20px 10px;
	scroll-snap-type: x mandatory;
	overflow-x: scroll;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.fui-LightboxThumb {
	height: auto;
	flex: 0 0 100px;
	aspect-ratio: 3 / 2;
	padding: 0;
	cursor: pointer;
	transition: all ease-in-out 0.1s;
	overflow: hidden;
	border-radius: 8px;
	outline-color: transparent;
	will-change: transform;

	&.fui-LightboxActiveThumb {
		transform: scale(1.05);
	}

	&.fui-LightboxActiveThumb {
		outline: 1px solid var(--color-focus-root);
		outline-offset: 2px;
	}

	& > * {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

.fui-LightboxClose {
	position: relative;
	z-index: 10;
	color: #fff;
	cursor: pointer;
}

.fui-LightboxPrevButton {
	left: 20px;
}

.fui-LightboxNextButton {
	right: 20px;
}

.fui-LightboxNavButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	color: #fff;
	cursor: pointer;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
