.fui-LightboxOverlay {
	position: fixed;
	inset: 0;
	display: flex;

	align-items: center;
	overflow: hidden; /* Prevent body scrolling */
	touch-action: none; /* Disable default touch interactions */

	--color-overlay: rgba(0, 0, 0, 1);

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--color-overlay);
		z-index: 1;
	}
}

.fui-LightboxContent {
	display: flex;
	flex-direction: column;
}

.fui-LightboxContainer {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.fui-LightboxItems {
	z-index: 2;
	display: flex;
	align-items: center;
	gap: 3rem;
	position: relative;
	scroll-snap-type: x mandatory;
	overflow-x: scroll;
	overflow-y: hidden;
	overscroll-behavior-x: contain;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;

	@media screen and (max-width: 768px) {
		gap: 1rem;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.fui-LightboxItem {
	position: relative;
	z-index: 1;
	flex: 0 0 100%;
	display: flex;
	scroll-snap-align: start;
	max-height: 80vh;
	height: 100%;
	justify-content: center;

	& > * {
		max-width: 100%;
		height: auto;
		object-fit: contain;
	}

	&.fui-LightboxActiveItem {
		scroll-snap-align: center;
		scroll-snap-stop: always;
	}
}

.fui-LightboxThumbs {
	display: flex;
	flex-wrap: nowrap;
	z-index: 10;
	flex: 1;
	gap: 0.5rem;
	margin: 0 auto;
	cursor: pointer;
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 20px 0px;
	flex: 0 0 100%;
	max-width: 90%;
	scroll-snap-type: x mandatory;
	overflow-x: scroll;
	overflow-y: auto;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scrollbar-width: none;

	@media screen and (min-width: 768px) {
		max-width: 50%;
	}
}

.fui-LightboxThumb {
	height: auto;
	flex: 0 0 100px;
	aspect-ratio: 3 / 2;
	padding: 0;
	cursor: pointer;
	transition: all ease-in-out 200ms;
	border-radius: 8px;
	overflow: hidden;
	outline-color: transparent;
	will-change: transform;

	&.fui-LightboxActiveThumb {
		margin: 0 10px;
		outline: 1px solid var(--color-focus-root);
		outline-offset: 2px;
		transform: scale(1.05);
	}

	& > * {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

.fui-LightboxClose {
	position: absolute;
	z-index: 10;
	color: #fff;
	cursor: pointer;
	right: 12px;
	top: 12px;
}

.fui-LightboxPrevButton {
	left: 0px;
}

.fui-LightboxNextButton {
	right: 0px;
}

.fui-LightboxNavButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	color: #fff;
	cursor: pointer;
}

.fui-LightboxTitle,
.fui-LightboxDescription {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}


@media (prefers-reduced-motion: no-preference) {
  @keyframes fui-dialog-overlay-no-op {
    from {
      opacity: 1;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fui-dialog-content-show {
    from {
      opacity: 0;
      transform: translateY(5px) scale(0.97);
    }
    to {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }

  @keyframes fui-dialog-content-hide {
    from {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
    to {
      opacity: 0;
      transform: translateY(5px) scale(0.99);
    }
  }

  .fui-DialogOverlay {
    &::after {
      backdrop-filter: blur(var(--overlay-blur))
        brightness(var(--overlay-brightness));
    }
    /* Keep the overlay mounted until the children have animated */
    &:where([data-state='closed']) {
      animation: fui-blur-out 400ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }

    &:where([data-state='open'])::after {
      animation: fui-blur-in 400ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }
    &:where([data-state='closed'])::after {
      animation: fui-blur-out 400ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }
  }

  .fui-DialogContent {
    &:where([data-state='open']) {
      animation: fui-dialog-content-show 400ms cubic-bezier(0.16, 1, 0.3, 1);
    }
    &:where([data-state='closed']) {
      animation: fui-dialog-content-hide 150ms cubic-bezier(0.16, 1, 0.3, 1);
    }
  }
}
