.fui-Separator {
  background-color: var(--accent-a6);

  &:where([data-orientation='vertical']) {
    width: 1px;
    height: var(--separator-size);
  }
  &:where([data-orientation='horizontal']) {
    width: var(--separator-size);
    height: 1px;
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .fui-Separator {
    &:where(.fui-r-size-1) {
      --separator-size: var(--space-4);
    }
    &:where(.fui-r-size-2) {
      --separator-size: var(--space-6);
    }
    &:where(.fui-r-size-3) {
      --separator-size: var(--space-9);
    }
    &:where(.fui-r-size-4) {
      --separator-size: 100%;
    }
  }
}
