.fui-SheetOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  user-select: none;
}

.fui-SheetContent {
  --sheet-content-padding: 20px;
  --inset-padding: var(--sheet-content-padding);
  --sheet-border-color: var(--gray-a3);

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  height: auto;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border: 1px solid var(--sheet-border-color);
  background-color: var(--color-panel-solid);
  user-select: none;
}

.fui-SheetContent,
.fui-SheetContent:focus,
.fui-SheetContent:focus-visible {
  outline: none;
}

.fui-SheetContent[vaul-drawer][vaul-drawer-direction='bottom']::after {
  border-left: 1px solid var(--sheet-border-color);
  border-right: 1px solid var(--sheet-border-color);
  left: -1px;
  right: -1px;
  user-select: none;
}
.fui-SheetBody {
  padding: var(--inset-padding);
}
.fui-SheetContentHandle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 12px;
  height: 5px;
  width: 40px;
  border-radius: 999px;
  background-color: var(--gray-a4);
  user-select: none;
  pointer-events: none;
}

.fui-SheetHeader {
  display: grid;
  padding: 0 var(--inset-padding) var(--inset-padding) var(--inset-padding);
  gap: 12px;
}

.fui-SheetContentHandle,
.fui-SheetHeader,
.fui-SheetBody {
  min-height: 0;
}
.fui-SheetContentHandle,
.fui-SheetHeader {
  flex-shrink: 0;
}
.fui-SheetBody {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
