.body :global(.rt-DialogContent) {
  max-width: 400px;
}

.body :global(.rt-SelectTrigger) {
  width: 100%;
}

.body {
  height: 100%;
  width: 100%;
}

.body :global(#root) {
  width: 100%;
  height: 100vh;
  background-color: var(--gray-1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: var(--space-2);
  box-sizing: border-box;
}

.aside {
  height: 100%;
  width: 300px;
  padding: var(--space-2) var(--space-4);
  box-sizing: border-box;
}

:global(.dark) .main {
  background: rgba(255, 255, 255, 0.01);
}

.asideButton {
  width: 100%;
  height: 42px;
  border-radius: var(--radius-5, 12px);
  padding-left: var(--space-4);
  display: flex;
  align-items: center;
  gap: var(--space-4);
  color: var(--gray-a10);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.15px;
  box-sizing: border-box;
}
.asideButton:hover {
  background: var(--gray-a3);
  color: var(--gray-a12);
}
:global(.dark) .asideButton:hover {
  box-shadow: 0px 0px 0px 1px var(--gray-a4) inset;
  background: var(--gray-a2);
  background-image: linear-gradient(
    95deg,
    transparent,
    transparent,
    transparent,
    var(--accent-a4)
  );
}
.main {
  height: 100%;
  flex: 1;
  border-radius: var(--radius-5, 12px);
  border: 1px solid var(--gray-a4, rgba(0, 0, 0, 0.05));
  background: var(--color-background);
}

.whopSVG {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

:global(.dark) .whopSVG > svg:first-child {
  display: none;
}

:global(.light) .whopSVG > svg:last-child {
  display: none;
}

.dashboardCard {
  flex: 1;
  box-sizing: border-box;
  position: relative;
  min-height: 202px;
  flex: 1;
  padding: var(--space-6);
  border-radius: var(--radius-6);
  border: 1px solid var(--gray-a3);
  background: var(--color-panel);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.dashboardCardIcon {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  border: 1px solid var(--gray-a3);
  background: var(--color-panel);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.dashboardCardIcon::before {
  content: '';
  position: absolute;
  inset: 12px;
  border-radius: 6px;
  border: 1px solid var(--green-6);
  background: linear-gradient(to bottom, var(--green-a3), transparent);
}

.dashboardCardApps {
  box-sizing: border-box;
  padding: var(--space-1) var(--space-2);

  display: flex;
  justify-content: center;
  gap: var(--space-1);

  border-radius: 8px;
  border: 1px solid var(--gray-a3);
}

.dashboardCardApps > *:nth-child(1) {
  color: var(--blue-9);
}

.dashboardCardApps > *:nth-child(2) {
  color: var(--lime-9);
}

.dashboardCardApps > *:nth-child(3) {
  color: var(--blue-10);
}
