on:
  pull_request:
    types:
      - synchronize
      - opened

name: PR

concurrency:
  group: pr-action-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  unimported:
    name: Check unimported
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: whopio/unimported-action@v0.0.1
        with:
          token: ${{ github.token }}
          projects: 'packages/frosted-ui'

  install:
    name: Install node modules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.9
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          check-latest: true
          cache: pnpm
      - name: Install all packages
        run: pnpm install

  lint:
    name: Lint repository
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.9
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          check-latest: true
          cache: pnpm
      - name: Install all packages
        run: pnpm install
      - name: Run eslint
        run: pnpx eslint ./ --max-warnings 0

  build:
    name: Build packages
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.9
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          check-latest: true
          cache: pnpm
      - name: Install all packages
        run: pnpm install
      - name: Build packages
        run: pnpm turbo build

  chromatic-deployment:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.9
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          check-latest: true
          cache: pnpm
      - name: Install all packages
        run: pnpm install
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          exitOnceUploaded: true
          onlyChanged: true
          workingDir: 'packages/frosted-ui'

  test:
    name: Test repository
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.9
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          check-latest: true
          cache: pnpm
      - name: Install all packages
        run: pnpm install
      - name: Build packages
        run: pnpm turbo test
