on:
  pull_request:
    types:
      - synchronize
      - opened

name: PR

concurrency:
  group: pr-action-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  install:
    name: Install node modules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - uses: pnpm/action-setup@v4
        with:
          version: 8.6.9
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          check-latest: true
          cache: pnpm
      - name: Install all packages
        run: pnpm install

  lint:
    name: Lint repository
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        with:
          version: 8.6.9
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          check-latest: true
          cache: pnpm
      - name: Install all packages
        run: pnpm install
      - name: Run eslint
        run: pnpx eslint@7.32.0 ./ --max-warnings 0
      - name: Run stylelint
        run: pnpm turbo lint:css

  build:
    name: Build packages
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        with:
          version: 8.6.9
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          check-latest: true
          cache: pnpm
      - name: Install all packages
        run: pnpm install
      - name: Build packages
        run: pnpm turbo build

  test:
    name: Test repository
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        with:
          version: 8.6.9
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          check-latest: true
          cache: pnpm
      - name: Install all packages
        run: pnpm install
      - name: Build packages
        run: pnpm turbo test
